<mat-card>
    <mat-card-content>
        <h2>ForgotPassword</h2>
        <div class="anchor">
        <a>login</a> /<a>Register</a>
    </div>
        <p>It looks like you are having trouble logging in. Enter your email address below</p>
        <p> and we will send you a link to reset your password.</p>
            <form (ngsubmit)="onForgetpassword" name="forgetpasswordForm" [formGroup]="forgetpasswordForm">
        <div class="email-input">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput required />
                <mat-error *ngIf="forgetpasswordForm.get('email').errors?.required">
                  <h4> Please check email address and try again</h4>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Send email</button>
    </form>
        </mat-card-content>
</mat-card>